<!doctype html>

{% load staticfiles %}

<html>
<head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Stripe Payment Test</title>

    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/payments/css/styles.css" media="screen">

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3 jumbotron">
            <div class="text-xs-center">
                <h1 class="small">
                    {% block header_text %}{% endblock %}
                </h1>
                <img class="red-stripe" src="{% static 'img/red-stripe.png' %}">
                <!-- TODO: make this a block with a different form for each payment -->
                <form action="/payments/process_stripe" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_drQzdsOgMxTgl2pevpEKLiYV"
                        data-amount="1000"
                        data-name="SickKids Hospital"
                        data-description="Donation"
                        data-image="{% static 'payments/img/sickkids-logo.png' %}" 
                        data-locale="auto"
                        data-currency="cad">
                    </script>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            Here's something cool, right?
        </div>
    </div>

</div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

